FORTYGUARD_API_KEY=replace_with_your_real_key
FORTYGUARD_BASE_URL=https://api.fortyguard.com
FORTYGUARD_REQUEST_TIMEOUT_SECONDS=60
FORTYGUARD_POLL_INTERVAL_SECONDS=5
FORTYGUARD_MAX_POLL_SECONDS=180

OVERPASS_BASE_URL=https://overpass-api.de/api/interpreter
OVERPASS_FALLBACK_URL=https://overpass.private.coffee/api/interpreter
OVERPASS_THIRD_URL=https://maps.mail.ru/osm/tools/overpass/api/interpreter
OVERPASS_REQUEST_TIMEOUT_SECONDS=55
OVERPASS_CONNECT_TIMEOUT_SECONDS=12
OVERPASS_USER_AGENT=HeatShieldAI-Hackathon26/0.4.2 (+https://github.com/Adil307/Heckathon26)

APP_ENV=development
